{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Save your search
      </h1>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Who can apply"
          },
          value: {
            html: "<ul class='govuk-list govuk-list--bullet'>
              <li>Personal/individual</li>
            </ul>"
          }
        },
        {
          key: {
            text: "Location"
          },
          value: {
            html: "<ul class='govuk-list govuk-list--bullet'>
              <li>North East England</li>
              <li>North West England</li>
            </ul>"
          }
        }
        ]
      }) }}

      <form class="form" action="../find-migration-aug23/email-updates" method="post">

        {{ govukInput({
          label: {
            text: "Name this search",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "You can save more than one search. Add a name to make it easier to tell your searches apart."
          },
          id: "search-name",
          name: "search-name"
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
