{% extends "layouts/main.html" %}

{% block pageTitle %}
  Accounts linked – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Accounts linked",
        html: "Your data has been transferred to your GOV.UK One Login"
      }) }}

      <p>
        The information from your old account has been added to your GOV.UK One Login. It may take a few minutes for the information to show up.
      </p>

      <p>
        If your information doesn’t show up on your profile, get in contact with us at <a href='#'>findagrant@cabinetoffice.gov.uk</a>.
      </p>

      {{ govukButton({
        text: "Continue to your profile",
        href: "../continue-from-linked"
      })}}
    </div>
  </div>

{% endblock %}
