{% extends "layouts/main.html" %}

{% block pageTitle %}
Account match found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We found a matching account
      </h1>

      <form class="form" action="/accounts-linked" method="post">

        <p>
          We found an account for Find a grant that uses the email address XXXX@XXXXX.XX. Any grants, grant application forms, and grant adverts from this account will be transferred to your GOV.UK One Login.<br>
          You will need to transfer this information to continue.
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
