{% extends "layouts/main.html" %}

{% block pageTitle %}
Account match found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We found a matching account
      </h1>

      <form class="form" action="/one-login-july23/accounts-linked" method="post">

        <p>
          We found an account for Find a grant that uses the email address XXXX@XXXXX.XX. Any grants, grant application forms, and grant adverts from this account will be transferred to your GOV.UK One Login.<br>
          You will need to transfer this information to continue.
        </p>

        {{ govukCheckboxes({
          name: "privacy-policy-agreement",
          fieldset: {
            legend: {
              text: "Do you agree to the Find a grant privacy policy?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: "<p class='govuk-hint'>You need to confirm you have read and agree to the <a href='#'>Find a grant privacy policy</a> before we can transfer your data.</p>"
          },
          items: [
            {
              value: "agreed",
              text: "I have read and agree to the Find a grant privacy policy"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
