{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
  Find a grant
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" class="form" method="post">
      <p class="govuk-body">
        Find a grant is a service that allows you to search government grants. This is a pilot service and it is being
        co-created with our users.
      </p>
      <p class="govuk-body">
        You can use this service to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>access government grant funding</li>
        <li>search and filter to find a grant that matches your needs</li>
        <li>find out if you are eligible to apply for a grant</li>
        <li>find out how to apply for a grant</li>
      </ul>
      <div class="govuk-form-group govuk-!-margin-bottom-0 inforamtion-block govuk-!-padding-4">
        <div class="govuk-form-group govuk-!-margin-bottom-3">
          <p class="govuk-body">
            Find government grants and check if you are eligible to apply.
          </p>
          <input class="govuk-input" id="searchTerm" name="searchTerm" type="text"
            placeholder="enter a keyword or search term here" title="find a grant" value="">
        </div>
        <div class="govuk-!-width-full">
          <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
            Search grants
          </button>
        </div>
      </div>
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-27">
        Browse all grants
      </h2>
      <p class="govuk-body">
        See a list of all grants. You can filter the list based on your needs.
      </p>
      <a class="govuk-link govuk-body" tabindex="0" href="#">
        Browse grants
      </a>
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-27">
        Government Grants Community
      </h2>
      <p class="govuk-body">
        The Government Grants Community is a space to share ideas, what we are learning, updates on forthcoming grants
        and information on how to get involved with our user research programme. To get involved, please email <a
          class="govuk-link"
          href="mailto:govtgrantscommunity@cabinetoffice.gov.uk">govtgrantscommunity@cabinetoffice.gov.uk</a> or use
        this <a class="govuk-link" target="_blank" data-cy="cyJoinCommunityTextLink"
          href="https://forms.gle/7EEewJCk9iQKsUaVA">form</a>.</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Or you can visit <a class="govuk-link" target="_blank"
          href="https://grantscommunity.blog.gov.uk/">our blog</a>.</p>
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-font-size-27">
        The future of Find a grant
      </h2>
      <p class="govuk-body">More grants will be added as we develop our service. We will also add new functionality to
        make it easier to use.</p>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-related-items">
      <h3 class="govuk-heading-m">
        Manage notifications
      </h3>
      <p class="govuk-body">See all the grant updates you have signed up for. You can unsubscribe here too.</p>
      <p class="govuk-!-margin-bottom-2 govuk-!-margin-top-0">
        <a class="govuk-link" href="#">
          Manage notifications
        </a>
      </p>
    </div>
    <div class="app-related-items">
      <h3 class="govuk-heading-m">
        Sign in and apply
      </h3>
      <p class="govuk-body">See your current and past grant applications.</p>
      <p class="govuk-!-margin-bottom-2 govuk-!-margin-top-0">
        <a class="govuk-link" href="/one-login-july23/returning-user-notice">Sign in and apply</a>
      </p>
    </div>
    <div class="app-related-items">
      <p class="govuk-body">
        Tell us how you think our service can improve through our <a href="#" class="govuk-link">feedback form</a>.
      </p>
    </div>
  </div>
</div>

{% endblock %}