{% extends "layouts/main.html" %}

{% block pageTitle %}
  Account match found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We found a matching account
      </h1>

      <p>
        We found an account for Find a grant that uses the email address XXXX@XXXXX.XX. You can transfer any user information, applications, and forms from this account to your GOV.UK One Login.
      </p>

      <p>
        If you choose not to link your accounts now, you will still be able to transfer data from an old Find a grant account to your GOV.UK One Login using the “transfer your information from an old account” option on your Find a grant profile until DD MM 2024.
      </p>

      <form class="form" action="../transfer-account" method="post">

        {{ govukRadios({
          name: "transfer-account",
          fieldset: {
            legend: {
              text: "Link this legacy account to your GOV.UK One Login?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html:'
            <p class="govuk-hint">
              By transferring your data, you confirm you have read and agreed to the <a href="#">Find a grant privacy policy</a>.
            </p>'
          },
          items: [
            {
              value: "link-yes",
              text: "Yes, I agree to the privacy policy and would like to link this account to my GOV.UK One Login"
            },
            {
              value: "link-no",
              text: "No, I do not want to link this account right now"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
