{% extends "layouts/main.html" %}

{% block pageTitle %}
  Merge accounts – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/one-login-july23/email-sent" method="post">

        {{ govukInput({
          label: {
            text: "What is the email address of your previous Find a grant account?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We'll send an email to this address to confirm you own it."
          },
          id: "email-to-link",
          name: "email-to-link"
        }) }}

        {{ govukCheckboxes({
          name: "agree-to-privacy-policy",
          fieldset: {
            legend: {
              text: "Do you agree to the Find a grant privacy policy?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: "<p class='govuk-hint'>Before we can transfer your data, you need to confirm you have read and agree to the <a href=#>Find a grant privacy policy</a>.</p>"
          },
          items: [
            {
              value: "privacy-policy-yes",
              text: "Yes, I have read and agree to the privacy policy"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
