{% extends "layouts/main.html" %}

{% block pageTitle %}
  Merge accounts – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/one-login-july23/email-sent" method="post">

        {{ govukInput({
          label: {
            text: "Enter the email address of your Find a grant account",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "
            <p class='govuk-hint'>
              Enter the email address of the account you would like to transfer information from.
            </p>
            <p class='govuk-hint'>
              We'll send an email to this address to confirm you own it.
            </p>
            "
          },
          id: "email-to-link",
          name: "email-to-link"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
