{% extends "layouts/main.html" %}

{% block pageTitle %}
  Profile – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Account details</h1>

    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Name goes here"
          }
        },
        {
          key: {
            text: "Organisation"
          },
          value: {
            text: "Organisation goes here"
          }
        }
        ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">View your applications</h2>
    <p>See your past and current applications</p>
    <p><a href=#>View your applications</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Your details</h2>

    <div class="govuk-grid-row govuk-!-margin-bottom-2 information-block-container">
      <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
        <div class="govuk-tag--grey govuk-!-margin-right-2 govuk-!-padding-2 information-block">
          <p class="govuk-body govuk-!-margin-bottom-2"><strong><a class="govuk-link" href="#">Your organisation details</a></strong></p>
    
          <p class="govuk-body  govuk-!-margin-bottom-2">Change your organisation details </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half govuk-!-padding-0">
        <div class="govuk-tag--grey govuk-!-margin-right-2 govuk-!-padding-2 information-block">
          <p class="govuk-body govuk-!-margin-bottom-2"><strong><a class="govuk-link" href="#">Your personal details</a></strong></p>
    
          <p class="govuk-body  govuk-!-margin-bottom-2">Change your personal details</p>
        </div>
      </div> 
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7 information-block-container">
      <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
        <div class="govuk-tag--grey govuk-!-margin-right-2 govuk-!-padding-2 information-block">
          <p class="govuk-body govuk-!-margin-bottom-2"><strong><a class="govuk-link" href="#">Your sign-in details</a></strong></p>
    
          <p class="govuk-body  govuk-!-margin-bottom-2">Change your sign-in details </p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
