{% extends "layouts/main.html" %}

{% block pageTitle %}
  Notice for returning users – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">Notice for returning users</h1>

      <p class="govuk-body">
        As of DD MM 2023, you use GOV.UK One Login to sign in to Find a grant instead of a Find a grant account. If you do not have a GOV.UK One Login, you will need to create one to use this service.
      </p>
      <p class="govuk-body">
        If you made a Find a grant account before DD MM 2023, you can transfer the information from that account to your GOV.UK One Login.
      </p>

      {{ govukButton ({
        text: "Continue",
        href: "/one-login-july23/onelogin-start"
      }) }}
      
    </div>
  </div>

{% endblock %}
