{% extends "layouts/main.html" %}

{% block pageTitle %}
  Notice for returning users – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">The way you sign in to Find a grant has changed</h1>

      <p class="govuk-body">
        You use GOV.UK One Login to sign in to Find a grant.
      </p>  
      <p class="govuk-body">
        If you do not have a One Login account already, you will need to create one.
      </p>
      <p class="govuk-body">
        Once you sign in with One Login, you will still be able to see all of your Find a grant information.
      </p>

      {{ govukButton ({
        text: "Continue",
        href: "/one-login-july23/onelogin-start"
      }) }}
      
    </div>
  </div>

{% endblock %}
