{% extends "layouts/main.html" %}

{% block pageTitle %}
  How does your project align with the goals of this grant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Question 3 of 4</span>
      <h1 class="govuk-heading-l">How does your project align with the goals of this grant?</h1>

      <form class="form" action="/applicant-misc-aug23/question-4" method="post">

        {{ govukTextarea({
          name: "goals",
          id: "goals",
          hint: {
            text: "Explain how your project will work to meet the aims of this grant. You can write up to 200 words."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
