{% extends "layouts/main.html" %}

{% block pageTitle %}
  Organisation name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['organisation-name'] %}
        <form class="form" action="/spotlight-user2-oct23/confirm-org-details" method="post" autocomplete="off">
      {% else %} 
        <form class="form" action="/spotlight-user2-oct23/organisation-address" method="post" autocomplete="off">
      {% endif %}

      {{ govukInput({
        label: {
          text: "Enter the name of your organisation",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This is the official name of your organisation. It could be the name that is registered with Companies House or the Charities Commission."
        },
        id: "name",
        name: "organisation-name",
        value: data['organisation-name']
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
