{% extends "layouts/main.html" %}

{% block pageTitle %}
  Charity Commission number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['organisation-cc-number'] %}
        <form class="form" action="/spotlight-user2-oct23/confirm-org-details" method="post" autocomplete="off">
      {% else %} 
        <form class="form" action="/spotlight-user2-oct23/funding-amount" method="post" autocomplete="off">
      {% endif %}

      {{ govukInput({
        label: {
          text: "Enter your Charity Commission number (if you have one)",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Funding organisation might use this to identify your organisation when you apply for a grant. It might also be used to check your organisation is legitimate."
        },
        id: "cc-number",
        name: "organisation-cc-number",
        value: data['organisation-cc-number']
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
