{% extends "layouts/main.html" %}

{% block pageTitle %}
  Organisation type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['organisation-type'] %}
        <form class="form" action="/spotlight-user2-oct23/confirm-org-details" method="post" autocomplete="off">
      {% else %} 
        <form class="form" action="/spotlight-user2-oct23/organisation-ch-number" method="post" autocomplete="off">
      {% endif %}

      {{ govukRadios({
        name: "organisation-type",
        value: data['organisation-type'],
        fieldset: {
          legend: {
            text: "Choose your application type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Choose the option that best describes you or your organisation."
        },
        items: [
          {
            value: "Limited company",
            text: "Limited company"
          },
          {
            value: "Non-limited company",
            text: "Non-limited company"
          },
          {
            value: "Charity",
            text: "Charity"
          },
          {
            value: "Individual",
            text: "I am applying as an individual"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why do we need this information?
          </span>
        </summary>
        <div class="govuk-details__text">
          It helps us to identify your organisation. We use this information for due diligence checks and to prevent fraud.
        </div>
      </details>

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
