{% extends "layouts/main.html" %}

{% set addressList = [data['address-line-1'], data['address-line-2'], data['address-town'], data['address-county'], data['address-postcode']] | select()%}
{% set addressListBroken = addressList | join('<br/>') %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your answers before submitting</h1>

{{ govukSummaryList({
  card: {
    title: {
      text: "Eligibility"
    }
  },
  rows: [
    {
      key: {
        text: "Do you meet the eligibility criteria?"
      },
      value: {
        text: "Yes, my organisation meets the eligibility criteria"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "eligibility criteria"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Your organisation"
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sample organisation"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "organisation name"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: addressListBroken
      },
      actions: {
        items: [
          {
            href: "../review-app-aug23/organisation-address",
            text: "Change",
            visuallyHiddenText: "organisation address"
          }
        ]
      }
    },
    {
      key: {
        text: "Organisation type"
      },
      value: {
        html: "Registered charity"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "organisation type"
          }
        ]
      }
    },
    {
      key: {
        text: "Companies House number"
      },
      value: {
        html: "-"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Companies House number"
          }
        ]
      }
    },
    {
      key: {
        text: "Charity Commission number"
      },
      value: {
        html: "012345678"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Charity Commission number"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Funding"
    }
  },
  rows: [
    {
      key: {
        text: "Amount of funding required"
      },
      value: {
        text: "£1000"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "funding amount"
          }
        ]
      }
    },
    {
      key: {
        text: "Where this funding will be spent"
      },
      value: {
        html: "North East England<br/>North West England"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "funding locations"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Custom section"
    }
  },
  rows: [
    {
      key: {
        text: "Write a short text response"
      },
      value: {
        text: "Short text short text short text"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "short text response"
          }
        ]
      }
    },
    {
      key: {
        text: "Write a long text response"
      },
      value: {
        html: "<p>This is a long text response. This long text response exists to test the display of long blocks of text.</p><p>As it once was it will never be again, as it will be it has never been. The hollows left between things are also things, these little emptinesses are themselves form and form is in turn comprised of emptiness.</p><p>Tomorrow, yesterday, today, last month, last week, next week, next month, never, always, occasionally, sometimes, infrequently, often, okay this is probably long enough for testing purposes.</p>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "long text response"
          }
        ]
      }
    },
    {
      key: {
        text: "Upload a file"
      },
      value: {
        text: "Uploaded file.pdf"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "file upload"
          }
        ]
      }
    },
    {
      key: {
        text: "Choose an option"
      },
      value: {
        text: "Option 1"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "response to choose an option"
          }
        ]
      }
    },
    {
      key: {
        text: "Choose multiple options"
      },
      value: {
        html: "Eeny<br/>Meeny<br/>Miney<br/>Mo<br/>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "chosen options"
          }
        ]
      }
    },
    {
      key: {
        text: "Pick a date"
      },
      value: {
        text: "11 May 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "chosen date"
          }
        ]
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Download a copy of your application</h2>
<p>You can <img src="/public/files/downloadicon.svg" height="20" alt=""> <a href="/public/files/sample.odt" download="sample" class="govuk-link">Download a copy of your answers (ODT, 0.63 kB)</a> for future reference.</p>

<h2 class="govuk-heading-m">Now send your application</h2>
<p>By submitting your application you are confirming that, to the best of your knowledge, the details you are providing are up to date and accurate.</p>

{{ govukButton({
  text: "Submit application"
}) }}

{% endblock %}
