{% extends "layouts/main.html" %}

{% block pageTitle %}
  Funding location – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="../go-to-summary" method="post" autocomplete="off">

      {{ govukCheckboxes({
        name: "funding-location",
        values: data['funding-location'],
        fieldset: {
          legend: {
            text: "Where will the funding be spent?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "
          <p>Select the location where the grant funding will be spent. You can choose more than one if it is being spent in more than one location.</p>

          <p>Select all that apply:</p>"
        },
        items: [
          {
            value: "North East England",
            text: "North East England"
          },
          {
            value: "North West England",
            text: "North West England"
          },
          {
            value: "Yorkshire and The Humber",
            text: "Yorkshire and The Humber"
          },
          {
            value: "East Midlands (England)",
            text: "East Midlands (England)"
          },
          {
            value: "West Midlands (England)",
            text: "West Midlands (England)"
          },
          {
            value: "East England",
            text: "East England"
          },
          {
            value: "London",
            text: "London"
          },
          {
            value: "South East England",
            text: "South East England"
          },
          {
            value: "South West England",
            text: "South West England"
          },
          {
            value: "Midlands",
            text: "Midlands"
          },
          {
            value: "Scotland",
            text: "Scotland"
          },
          {
            value: "Wales",
            text: "Wales"
          },
          {
            value: "Northern Ireland",
            text: "Northern Ireland"
          },
          {
            value: "Outside of the UK",
            text: "Outside of the UK"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
