{% extends "layouts/main.html" %}

{% block pageTitle %}
  Account match found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../transfer-account-3" method="post">

        {{ govukRadios({
          name: "transfer-account",
          fieldset: {
            legend: {
              text: "We found an account that matches your email address",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            html:'
            <p class="govuk-hint">
              You can transfer any previous information and grant applications so when you sign in with GOV.UK One Login everything is in one place.
            </p>
            <p class="govuk-hint">
              Do you want to transfer all of your information so it is all in one place?
            </p>
            '
          },
          items: [
            {
              value: "link-yes",
              text: "Yes, transfer all of my information"
            },
            {
              value: "link-no",
              text: "No, do not transfer my information"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
