{% extends "layouts/main.html" %}

{% block pageTitle %}
  Preview a question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <div class="govuk-!-padding-5" style="background-color: #f3f2f1;">
      <span class="govuk-caption-l">How this will look to an applicant</span>
      {{ govukTextarea({
        name: "question-2",
        id: "question-2",
        label: {
          text: data['question-name'],
          classes: "govuk-label--l"
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m">Would you like to change this question?</h2>
    <p>You can edit the question's type, title, description, and settings.</p>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Change",
        href: "/admin-updates-aug23/question-type"
      }) }}

      <a class="govuk-link" href="../back-to-section">Return to section editor</a>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Delete question</h2>
    <p>You will not be able to undo this action.</p>
    {{ govukButton({
      text: "Delete question",
      classes: "govuk-button--warning"
    }) }}

  </div>
</div>

{% endblock %}
