{% extends "layouts/main.html" %}

{% block pageTitle %}
  Name your section – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Give this section a name
      </h1>

      <form class="form" action="/editing-and-sharing-sep23/section-empty" method="post">

        {{ govukInput({
          hint: {
            text: "Applicants will see this title on their application form."
          },
          id: "section-name",
          name: "section-name"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
