{% extends "layouts/main.html" %}

{% block pageTitle %}
  Rename your application form – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../rename-back" method="post">

        {{ govukInput({
          label: {
            text: "Change form name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "form-name",
          name: "form-name",
          value: data['form-name']
        }) }}

        {{ govukButton({
          text: "Save changes"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
