{% extends "layouts/main.html" %}

{% block pageTitle %}
  Edit a section – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <span class="govuk-caption-l">Prototyping test grant</span>
  <h1 class="govuk-heading-l">Edit section</h1>

  <h2 class="govuk-heading-m"> {{data['section-name']}} </h2>

  {{ govukButton({
    href: "/editing-and-sharing-sep23/rename-section",
    text: "Change section title",
    classes: "govuk-button--secondary"
  })}}

  <h2 class="govuk-heading-m">Questions</h2>

  {{ govukButton({
    text: "Add a new question",
    href: "/editing-and-sharing-sep23/set-type",
    classes: "govuk-button--secondary"
  }) }}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save changes",
      href: "#"
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl">
  
    <a class="govuk-link" href="/editing-and-sharing-sep23/form-empty">Cancel</a>
  </div>

{% endblock %}

