{% extends "layouts/main.html" %}

{% block pageTitle %}
  Companies House number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['organisation-ch-number'] %}
        <form class="form" action="/confirm-org-details" method="post" autocomplete="off">
      {% else %} 
        <form class="form" action="/organisation-cc-number" method="post" autocomplete="off">
      {% endif %}

      {{ govukInput({
        label: {
          text: "What is your organisation's Companies House number (if it has one)?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "If your organisation is registered with Companies House, enter its company number."
        },
        id: "ch-number",
        name: "organisation-ch-number",
        value: data['organisation-ch-number']
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
