{% extends "layouts/main.html" %}

{% set refNumberHtml %}
  <h3 class="govuk-notification-banner__heading">
    We couldn't send required checks to Spotlight
  </h3>
  <p class="govuk-body">Spotlight could not find the GGIS number for your grant. Check that your grant’s reference number is correct. </p>
{% endset %}

{% set connectionFailedHtml %}
  <h3 class="govuk-notification-banner__heading">
    We couldn't connect to Spotlight
  </h3>
  <p class="govuk-body">The Find a grant service failed to connect to Spotlight. Please contact our support team at <a href="">findagrant@cabinetoffice.gov.uk</a>. </p>
{% endset %}

{% block pageTitle %}
  Manage required checks – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% if data['error']=="refnumber" %}
      {{ govukNotificationBanner({
        html: refNumberHtml
      }) }}

    {% elif data['error']=="connect" %}
      {{ govukNotificationBanner({
        html: connectionFailedHtml
      }) }}

    {% endif %}

    <h1 class="govuk-heading-l">Manage required checks</h1>
    <h2 class="govuk-heading-m">Run due diligence checks</h2>

    <p class="govuk-body">You application form has been designed to capture all of the information you need to run due diligence checks in Spotlight, a Government owned due diligence tool. </p>
    <p class="govuk-body">We send the information automatically to Spotlight at midnight each night.</p>
    <p class="govuk-body">Your information was last sent to Spotlight on <b>25 September 2023.</b></p>

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "Application state"
        },
        {
          text: "Number"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
          [
          {
            text: "Sent to Spotlight"
          },
          {
            text: "25"
          },
          {
            html: '<a href="">Download</a>'
          }
        ],
        [
          {
            text: "Waiting to be sent"
          },
          {
            text: "5"
          },
          {
            html: '<a href="">Download</a>'
          }
        ]
      ]
    }) }}

    {{ govukButton({
      text: "Log in to Spotlight",
      href: "spotlight-data-sep23/spotlight"
    }) }}

    <p class="govuk-body">If you do not use Spotlight, you can download all of the due diligence information to run checks in another service.</p>
    <p class="govuk-body">The download will contain separate folders for companies and charities, sole traders, and individuals and local authorities.</p>
    <p class="govuk-body">
      <a href="">Download checks from applications</a> (ZIP, 7 MB, 30 submissions)
    </p>

    {{ govukButton({
      text: "Back to grant summary",
      href: "/spotlight-data-sep23/grant-overview-app",
      classes: "govuk-button--secondary"
    }) }}

  </div>
</div>

{% endblock %}
